<footer>
  <div class="group">
    <p>My Pets</p><br>
    <p>
      <img src="../../../assets/icons/map.svg" alt="Icono de mapa">
      &nbsp; Carrera 30, Bogotá D.C
    </p>
    <p>
      <img src="../../../assets/icons/whatsapp.svg" alt="Icono de teléfono">
      &nbsp; +573142015171
    </p>
    <p>
      <img src="../../../assets/icons/mailF.svg" alt="Icono de email">
      &nbsp; natsoftx&#64;gmail.com
    </p>
  </div>
  <div class="group">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13376.225001089715!2d-74.07299294633886!3d4.634100454540533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1693320076553!5m2!1ses-419!2sco"
      width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </div>
  <div class="group">
    <div class="flex-center">
      <a href="https://www.facebook.com/natsoftx">
        <img class="rrss" src="../../../assets/icons/facebook.svg" alt="Icono de Facebook">
      </a>
      <a href="https://twitter.com/natsoftx">
        <img class="rrss" src="../../../assets/icons/twitter.svg" alt="Icono de Twitter">
      </a>
      <a href="https://www.youtube.com/@natsoftx">
        <img class="rrss" src="../../../assets/icons/youtube.svg" alt="Icono de Whatsapp">
      </a>
      <a href="https://www.instagram.com/natsoft/">
        <img class="rrss" src="../../../assets/icons/instagram.svg" alt="Icono de Instagram">
      </a>
    </div><br>
    <span class="flex-center">&copy; 2023, Natsoft - rights reserved</span>
  </div>
</footer>
